{% extends "base/base_sistema.html" %}
{% block subtitulo %} Iniciativas {% endblock %}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Cadastro de iniciativas</h3>
      </div>
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
        <div class="box-body">
          <table id="example" class="display" style="width:100%">
            <thead>
              <tr>
                <th scope="col">Nome do Projeto</th>
                <th scope="col">Lider do projeto</th>
                <th scope="col">Data de Início Planejada</th>
                <th scope="col">Data de Fim Planejada</th>
                <th scope="col">Data de Início Real</th>
                <th scope="col">Data de Fim Real</th>
                <th scope="col">Alterar</th>                     
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              {% for iniciativa in iniciativas %}
                <tr>
                  <td>{{ iniciativa.Name }}</td>
                  <td>{{ iniciativa.ProjectManagerName }}</td>
                  <td>{{ iniciativa.PlannedStartDate.strftime('%d/%m/%Y') }}</td>
                  <td>{{ iniciativa.PlannedEndDate.strftime('%d/%m/%Y') }}</td>
                  <td>{{ iniciativa.RealStartDate.strftime('%d/%m/%Y') if iniciativa.RealStartDate else '-' }}</td>
                  <td>{{ iniciativa.RealEndDate.strftime('%d/%m/%Y') if iniciativa.RealEndDate else '-' }}</td>
                  <td><a href="/update/initiative/{{ iniciativa.Id }}"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a></td>
                  <td><a href="{{ url_for('delete_initiative', Id=iniciativa.Id) }}"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{{ url_for('initiative_register') }}" class="btn btn-primary btn-lg active" role="button"
            aria-pressed="true">Inserir iniciativa</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}