{% extends "base/base_sistema.html" %}
{% block subtitulo %} Iniciativas {% endblock %}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Cadastro de iniciativas</h3>
        </div>
        <form class="row g-3" action="{{url_for('update_initiative', Id=initiative.Id)}}" method="POST">
          <div class="box-body">
            <div class="col-md-12">
              <label class="form-label">Lider do projeto</label>
              <input class="form-control" type="text" name="nome" id="nome" value="{{initiative.Name}}">
            </div>
            <div class="col-md-6">
              <label class="form-label">Data de Início</label>
              <input class="form-control" type="datetime-local" name="data_inicio"
                value="{{initiative.PlannedStartDate.strftime('%Y-%m-%dT%H:%M')}}">
            </div>
            <div class="col-md-6">
              <label class="form-label">Data de Fim</label>
              <input class="form-control" type="datetime-local" name="data_fim"
                value="{{initiative.PlannedEndDate.strftime('%Y-%m-%dT%H:%M')}}">
            </div>
            <div class="col-md-6">
              <label class="form-label">Data de Inicio - Real</label>
              <input class="form-control" type="datetime-local" name="data_inicio_real"
                value="{{initiative.RealStartDate.strftime('%Y-%m-%dT%H:%M') if initiative.RealStartDate else '-'}}">
            </div>
            <div class="col-md-6">
              <label class="form-label">Data de Fim - Real</label>
              <input class="form-control" type="datetime-local" name="data_fim_real"
                value="{{initiative.RealEndDate.strftime('%Y-%m-%dT%H:%M') if initiative.RealEndDate else '-'}}">
            </div>
            <div class="col-md-12">
              <br>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Alterar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
